_pvm_hook() {
  local previous_exit_status=$?;
  trap -- '' SIGINT;
  eval "$("{{ pvm_executable }}" env bash)";
  trap - SIGINT;
  return $previous_exit_status;
};
if ! [[ "${PROMPT_COMMAND:-}" =~ _pvm_hook ]]; then
  PROMPT_COMMAND="_pvm_hook${PROMPT_COMMAND:+;$PROMPT_COMMAND}"
fi
