_pvm_hook() {
  trap -- '' SIGINT
  eval "$("{{ pvm_executable }}" env zsh)"
  trap - SIGINT
}
typeset -ag precmd_functions
if (( ! ${precmd_functions[(I)_pvm_hook]} )); then
  precmd_functions=(_pvm_hook $precmd_functions)
fi
