_penv_hook() {
  trap -- '' SIGINT
  eval "$("{{ penv_executable }}" env zsh)"
  trap - SIGINT
}
typeset -ag precmd_functions
if (( ! ${precmd_functions[(I)_penv_hook]} )); then
  precmd_functions=(_penv_hook $precmd_functions)
fi
